parameters:
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#.*(?i)short ternary operator is not allowed(?-i).*#'
        - '#.*(?i)no value type specified in iterable type(?-i).*#'
        - '#.*(?i)interface .+ is not generic(?-i).*#'
    level: 8
    paths:
        - ./src
    excludePaths:
        - ./tests/*
        - ./src/Tracing/HttpClient/*V5.php
        - ./src/Tracing/Messenger/*V5.php
        - ./src/Tracing/Doctrine/*V3.php

includes:
    - ./vendor/phpstan/phpstan-doctrine/extension.neon
    - ./vendor/phpstan/phpstan-doctrine/rules.neon
    - ./vendor/phpstan/phpstan-symfony/extension.neon
    - ./vendor/phpstan/phpstan-symfony/rules.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
