parameters:
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#.*(?i)short ternary operator is not allowed(?-i).*#'
        - '#.*(?i)no value type specified in iterable type(?-i).*#'
    level: 8
    paths:
        - ./src
    excludePaths:
        - ./tests/*
        - ./src/Tracing/HttpClient/TracingHttpClientV*.php
        - ./src/Tracing/HttpClient/TracingResponseV*.php
        - ./src/Tracing/Messenger/TracingConsumerMiddlewareV*.php

includes:
    - ./vendor/phpstan/phpstan-doctrine/extension.neon
    - ./vendor/phpstan/phpstan-doctrine/rules.neon
    - ./vendor/phpstan/phpstan-symfony/extension.neon
    - ./vendor/phpstan/phpstan-symfony/rules.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
